In [9]:
import pandas as pd
import numpy as np

In [10]:
Title_Aliases_sampled = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\sampled_data\Title_Aliases_sampled.tsv", sep="\t")
Title_Aliases_sampled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515109 entries, 0 to 515108
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   titleId          515109 non-null  object
 1   ordering         515109 non-null  int64
 2   title            515109 non-null  object
 3   region           515100 non-null  object
 4   language         515109 non-null  object
 5   types            515109 non-null  object
 6   attributes       515109 non-null  object
 7   isOriginalTitle  515109 non-null  int64
dtypes: int64(2), object(6)
memory usage: 31.4+ MB

In [11]:
Title_Aliases_sampled.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000675,1,Don Quijote,\N,\N,original,\N,1
1,tt0000675,2,Don Quijote,ES,\N,imdbDisplay,\N,0
2,tt0000862,1,Faldgruben,\N,\N,original,\N,1
3,tt0000862,2,Faldgruben,DK,\N,imdbDisplay,\N,0
4,tt0001059,1,O Terremoto de Benavente,\N,\N,original,\N,1

In [12]:
Title_Aliases_sampled = Title_Aliases_sampled.drop('attributes',axis=1)
Title_Aliases_sampled = Title_Aliases_sampled.drop('types',axis=1)

In [13]:
# replace "," or ";" to "/" in the string
Title_Aliases_sampled['region'] = Title_Aliases_sampled['region'].str.replace(r',','/', regex=False)
Title_Aliases_sampled['region'] = Title_Aliases_sampled['region'].str.replace(r';','/', regex=False)
Title_Aliases_sampled['language'] = Title_Aliases_sampled['language'].str.replace(r',','/', regex=False)
Title_Aliases_sampled['language'] = Title_Aliases_sampled['language'].str.replace(r';','/', regex=False)
Title_Aliases_sampled['title'] = Title_Aliases_sampled['title'].str.replace(r',','/', regex=False)
Title_Aliases_sampled['title'] = Title_Aliases_sampled['title'].str.replace(r';','/', regex=False)

In [14]:
# replace \N to ''
Title_Aliases_sampled['region'] = Title_Aliases_sampled['region'].replace(r'\N','')
Title_Aliases_sampled['language'] = Title_Aliases_sampled['language'].replace(r'\N','')

In [16]:
Title_Aliases_sampled[["titleId", "ordering","title","isOriginalTitle"]].dropna()

          titleId  ordering                     title  isOriginalTitle
0       tt0000675         1               Don Quijote                1
1       tt0000675         2               Don Quijote                0
2       tt0000862         1                Faldgruben                1
3       tt0000862         2                Faldgruben                0
4       tt0001059         1  O Terremoto de Benavente                1
...           ...       ...                       ...              ...
515104  tt9916428         6                    红星照耀中国                0
515105  tt9916706         1           Dankyavar Danka                1
515106  tt9916706         2           Dankyavar Danka                0
515107  tt9916730         1                    6 Gunn                1
515108  tt9916730         2                     ६ गुण                0

[515109 rows x 4 columns]

In [17]:
import psycopg2
import io

In [18]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres.rnxnnqsyjcircloxrryq",
    password="cse560courseproject",
    host="aws-0-us-east-1.pooler.supabase.com",
    port=6543
)
cur = conn.cursor()

In [19]:


# for tv_movie relation
buffer = io.StringIO()
Title_Aliases_sampled.to_csv(buffer, index=False, header=False)
buffer.seek(0)

0

In [20]:
conn.rollback()

In [21]:

# upload data to tv_movie
cur.copy_from(buffer, 'title_aliases', sep=',', null='')
conn.commit()