In [2]:
import pandas as pd

In [3]:
title_basic_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\original_imdb_data\title.basics.tsv",sep='\t')

C:\Users\19692\AppData\Local\Temp\ipykernel_13544\1573819231.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basic_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\original_imdb_data\title.basics.tsv",sep='\t')

In [24]:
# only choose tv series and movies
TV_Movie = title_basic_df[title_basic_df['titleType'].isin(['movie', 'tvSeries', 'tvMovie', 'tvMiniSeries'])]

In [68]:
TV_Movie['titleType'].value_counts()

titleType
movie           710852
tvSeries        279282
tvMovie         150426
tvMiniSeries     60778
Name: count, dtype: int64

In [69]:
# randomly sampled 10% from all tv and movie records to reduce the size of our database
sampled = TV_Movie.sample(frac=0.1, random_state=42)
tconst_set = set(sampled['tconst'])

In [71]:
# save sampled tv_movie basic info to a csv
sampled.to_csv("TV_Movie_sampled.tsv", sep='\t', index=False)

## sample title.akas.tsv

In [26]:
title_alternative_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\original_imdb_data\title.akas.tsv",sep='\t')

In [30]:
sampled_title_alternative = title_alternative_df[title_alternative_df['titleId'].isin(tconst_set)]

In [36]:
sampled_title_alternative.to_csv("Title_Aliases_sampled.tsv", sep='\t', index=False)

## sample title.episode

In [37]:
episode_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\original_imdb_data\title.episode.tsv",sep='\t')

In [40]:
episode_df

            tconst parentTconst seasonNumber episodeNumber
0        tt0031458   tt32857063           \N            \N
1        tt0041951    tt0041038            1             9
2        tt0042816    tt0989125            1            17
3        tt0042889    tt0989125           \N            \N
4        tt0043426    tt0040051            3            42
...            ...          ...          ...           ...
8891778  tt9916846    tt1289683            3            18
8891779  tt9916848    tt1289683            3            17
8891780  tt9916850    tt1289683            3            19
8891781  tt9916852    tt1289683            3            20
8891782  tt9916880    tt0985991            4             2

[8891783 rows x 4 columns]

In [41]:
sampled_episode = episode_df[episode_df['parentTconst'].isin(tconst_set)]

In [44]:
sampled_episode.to_csv("episode_sampled.tsv", sep='\t', index=False)

## Get TV Series's Episode Basic Info tsv

In [50]:
episode_set = set(sampled_episode['tconst'])

881413

In [51]:
episode_basic = title_basic_df[title_basic_df['tconst'].isin(episode_set)]

In [53]:
episode_basic = episode_basic[['tconst','primaryTitle','originalTitle','startYear','runtimeMinutes']]

In [55]:
episode_basic.to_csv('epiosde_basic_sampled.tsv', sep='\t', index=False)

## sample principals.tsv

In [56]:
principal_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\original_imdb_data\title.principals.tsv",sep='\t')

In [59]:
principal_sampled = principal_df[principal_df['tconst'].isin(tconst_set)]

In [62]:
principal_sampled.to_csv('principal_sampled.tsv',sep='\t',index=False)

## Sample Ratings

In [72]:
ratings_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\original_imdb_data\title.ratings.tsv",sep='\t')

In [74]:
ratings_sampled = ratings_df[ratings_df['tconst'].isin(tconst_set)]
ratings_sampled.to_csv('ratings_sampled.tsv',sep='\t',index=False)

## Sample name.basics.tsv

In [3]:
people_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\original_imdb_data\name.basics.tsv",sep='\t')

In [4]:
len(people_df)

14299754

In [78]:
nconst_set = set(principal_sampled['nconst'])

In [85]:
people_sampled = people_df[people_df['nconst'].isin(nconst_set)]

In [84]:
people_sampled.to_csv('people_sampled.tsv',sep='\t',index=False)