In [45]:
import pandas as pd
import numpy as np

In [46]:
title_basics_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\title.basics.tsv", sep="\t")
title_basics_df.info()

C:\Users\19692\AppData\Local\Temp\ipykernel_26416\1709790216.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  title_basics_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\title.basics.tsv", sep="\t")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11558783 entries, 0 to 11558782
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 793.7+ MB

In [47]:
base_ele = ["tconst", "titleType", "primaryTitle", "originalTitle", "isAdult", "startYear", "endYear", "runtimeMinutes"]
TV_Movie = title_basics_df[base_ele]

In [48]:
# Save the tvEpisode entries first
Episode_Details_Origin = TV_Movie[TV_Movie["titleType"] == "tvEpisode"]

# Now drop tvEpisode entries from TV_Movie
TV_Movie = TV_Movie[TV_Movie["titleType"] != "tvEpisode"]

# Select only relevant columns from Episode_Details_Origin
Episode_Details = Episode_Details_Origin[["tconst", "primaryTitle", "originalTitle", "startYear", "runtimeMinutes"]]

In [49]:
# replace "," or ";" to "/" in the string
TV_Movie['primaryTitle'] = TV_Movie['primaryTitle'].str.replace(r',','/', regex=False)
TV_Movie['primaryTitle'] = TV_Movie['primaryTitle'].str.replace(r';','/', regex=False)
TV_Movie['originalTitle'] = TV_Movie['originalTitle'].str.replace(r',','/', regex=False)
TV_Movie['originalTitle'] = TV_Movie['originalTitle'].str.replace(r';','/', regex=False)


Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].str.replace(r',','/', regex=False)
Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].str.replace(r';','/', regex=False)
Episode_Details['originalTitle'] = Episode_Details['originalTitle'].str.replace(r',','/', regex=False)
Episode_Details['originalTitle'] = Episode_Details['originalTitle'].str.replace(r';','/', regex=False)

C:\Users\19692\AppData\Local\Temp\ipykernel_26416\2298681884.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].str.replace(r',','/', regex=False)
C:\Users\19692\AppData\Local\Temp\ipykernel_26416\2298681884.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].str.replace(r';','/', regex=False)
C:\Users\19692\AppData\Local\Temp\ipykernel_26416\2298681884.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['originalTitle'] = Episode_Details['originalTitle'].str.replace(r',','/', regex=False)
C:\Users\19692\AppData\Local\Temp\ipykernel_26416\2298681884.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['originalTitle'] = Episode_Details['originalTitle'].str.replace(r';','/', regex=False)

In [50]:
# replace \N to ''
TV_Movie['tconst'] = TV_Movie['tconst'].replace(r'\N','')
TV_Movie['titleType'] = TV_Movie['titleType'].replace(r'\N','')
TV_Movie['primaryTitle'] = TV_Movie['primaryTitle'].replace(r'\N','')
TV_Movie['startYear'] = TV_Movie['startYear'].replace(r'\N','')
TV_Movie['endYear'] = TV_Movie['endYear'].replace(r'\N','')
TV_Movie['runtimeMinutes'] = TV_Movie['runtimeMinutes'].replace(r'\N','')

Episode_Details['tconst'] = Episode_Details['tconst'].replace(r'\N','')
Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].replace(r'\N','')
Episode_Details['startYear'] = Episode_Details['startYear'].replace(r'\N','')
Episode_Details['originalTitle'] = Episode_Details['originalTitle'].replace(r'\N','')
Episode_Details['runtimeMinutes'] = Episode_Details['runtimeMinutes'].replace(r'\N','')
TV_Movie

C:\Users\19692\AppData\Local\Temp\ipykernel_26416\1628807337.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['tconst'] = Episode_Details['tconst'].replace(r'\N','')
C:\Users\19692\AppData\Local\Temp\ipykernel_26416\1628807337.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].replace(r'\N','')
C:\Users\19692\AppData\Local\Temp\ipykernel_26416\1628807337.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['startYear'] = Episode_Details['startYear'].replace(r'\N','')
C:\Users\19692\AppData\Local\Temp\ipykernel_26416\1628807337.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['originalTitle'] = Episode_Details['originalTitle'].replace(r'\N','')
C:\Users\19692\AppData\Local\Temp\ipykernel_26416\1628807337.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['runtimeMinutes'] = Episode_Details['runtimeMinutes'].replace(r'\N','')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes
0,tt0000001,short,Carmencita,Carmencita,0,1894,,1
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,,5
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,,5
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,,12
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,,1
...,...,...,...,...,...,...,...,...
11558723,tt9916730,movie,6 Gunn,6 Gunn,0,2017,,116
11558733,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,,49
11558734,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,,
11558738,tt9916764,short,38,38,0,2018,,
11558781,tt9916856,short,The Wind,The Wind,0,2015,,27

In [51]:
# delete data rows where "tconst" or "primaryTitle" is None based on the constraint.
TV_Movie[["tconst", "primaryTitle"]].dropna()
TV_Movie = TV_Movie[TV_Movie["primaryTitle"].isna()==False]

Episode_Details[["tconst", "primaryTitle"]].dropna()
Episode_Details = Episode_Details[Episode_Details["primaryTitle"].isna()==False]

In [67]:
# for a few records, the runtimeMinutes columns shows a string (e.g. "reality-tv", "talk.show") instead of a number
# we decide to remove it
Episode_Details = Episode_Details[Episode_Details['runtimeMinutes'].str.isdigit()]

In [68]:
Episode_Details.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes
30892,tt0031458,El huésped del sevillano,El huésped del sevillano,1970,86
41211,tt0041951,The Tenderfeet,The Tenderfeet,1949,30
42059,tt0042816,Othello,Othello,1950,143
42131,tt0042889,The Tragedy of King Richard II/II,The Tragedy of King Richard II/II,1950,145
42655,tt0043426,Coriolanus,Coriolanus,1951,60

In [69]:
import psycopg2
import io

In [70]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres.jzysaequuaturayaiczd",
    password="12345jiabaoyaogary",
    host="aws-0-us-west-1.pooler.supabase.com",
    port=6543
)
cur = conn.cursor()

## TV Movie Relation

In [15]:


# for tv_movie relation
buffer = io.StringIO()
TV_Movie.to_csv(buffer, index=False, header=False)
buffer.seek(0)

0

In [63]:
conn.rollback()

In [17]:

# upload data to tv_movie
cur.copy_from(buffer, 'tv_movie', sep=',', null='')
conn.commit()

KeyboardInterrupt:

UniqueViolation: duplicate key value violates unique constraint "tv_movie_pkey"
DETAIL:  Key (tconst)=(tt0000001) already exists.
CONTEXT:  COPY tv_movie, line 1

## Episode Details

In [71]:
# for tv_movie relation
buffer = io.StringIO()
Episode_Details.to_csv(buffer, index=False, header=False)
buffer.seek(0)

0

In [72]:
conn.rollback()

In [73]:
# upload data to tv_movie
cur.copy_from(buffer, 'episode_details', sep=',', null='')
conn.commit()

2111180