In [1]:
import pandas as pd
import numpy as np

In [2]:
episode_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\sampled_data\episode_sampled.tsv", sep="\t")
episode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881413 entries, 0 to 881412
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         881413 non-null  object
 1   parentTconst   881413 non-null  object
 2   seasonNumber   881413 non-null  object
 3   episodeNumber  881413 non-null  object
dtypes: object(4)
memory usage: 26.9+ MB

In [3]:
episode_df.head()

      tconst parentTconst seasonNumber episodeNumber
0  tt0052128    tt0441950            4             2
1  tt0052857    tt0259792            2            14
2  tt0052866    tt0259792            2            19
3  tt0053184    tt0259792            3             7
4  tt0053405    tt0259792            3             2

In [4]:
# replace '/N' placeholder to ' '
episode_df['seasonNumber'] = episode_df['seasonNumber'].replace('\\N','')
episode_df['episodeNumber'] = episode_df['episodeNumber'].replace('\\N','')

In [5]:
import psycopg2
import io

In [6]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres.rnxnnqsyjcircloxrryq",
    password="cse560courseproject",
    host="aws-0-us-east-1.pooler.supabase.com",
    port=6543
)
cur = conn.cursor()

In [7]:


# Step 1: Create a CSV buffer from the DataFrame
buffer = io.StringIO()
episode_df.to_csv(buffer, index=False, header=False)
buffer.seek(0)

0

In [8]:
# roll back when meet error
conn.rollback()

In [9]:

# upload data to episode relation
cur.copy_from(buffer, 'episode', sep=',', null='')
conn.commit()