In [1]:
import pandas as pd
import numpy as np

In [3]:
ratings_df = pd.read_csv(r"C:\Users\19692\Downloads\CSE560-Project\title.ratings.tsv", sep="\t")
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551764 entries, 0 to 1551763
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1551764 non-null  object
 1   averageRating  1551764 non-null  float64
 2   numVotes       1551764 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 35.5+ MB

In [4]:
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2143
1  tt0000002            5.5       290
2  tt0000003            6.4      2179
3  tt0000004            5.3       186
4  tt0000005            6.2      2915

In [5]:
import psycopg2
import io

In [6]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres.jzysaequuaturayaiczd",
    password="12345jiabaoyaogary",
    host="aws-0-us-west-1.pooler.supabase.com",
    port=6543
)
cur = conn.cursor()

In [ ]:
# it is used to tackle the error "canceling statement due to statement timeout"
cur.execute("SET statement_timeout = 0;")  # disables timeout

In [8]:


# Step 1: Create a CSV buffer from the DataFrame
buffer = io.StringIO()
ratings_df.to_csv(buffer, index=False, header=False)
buffer.seek(0)

0

In [9]:
# roll back when meet error
conn.rollback()

In [10]:

# upload data to episode relation
cur.copy_from(buffer, 'ratings', sep=',', null='')
conn.commit()

8891783